<?xml version="1.0"?>
<launch>
<!-- Launch file for the joint tester -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find survivorbuddy_ros)/urdf/4_survivorbuddy.urdf'"/>

    <!-- Manual Joint Control -->
    <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

    <node name="multi_sb_rviz" pkg="survivorbuddy_ros" type="multi_sb_rviz.py" output="screen"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find survivorbuddy_ros)/rviz/lab4_multirobot_config.rviz"/>

</launch>

